runtime: python311
entrypoint: gunicorn -b :$PORT main:app

env_variables:
  PROJECT_ID: "your-gcp-project-id"
  JWT_SECRET: "generate-a-random-secret-here"
  SENDGRID_API_KEY: "your-sendgrid-api-key"
  SENDER_EMAIL: "theorbitapp.noreply@gmail.com"
  SENDER_NAME: "Orbit"
  GCS_BUCKET_NAME: "your-gcs-bucket-name"
  APNS_KEY_PATH: "./AuthKey_XXXXXXXX.p8"
  APNS_KEY_ID: "your-apns-key-id-here"
  APNS_TEAM_ID: "your-team-id-here"
  APNS_BUNDLE_ID: "adrian.Orbit"
  APNS_USE_SANDBOX: "true"
